@model MvcWebUI.Models.Cart
@{
    ViewBag.Title = "Index";
}


<div class="container pb-5">
    <div class="row">
        <div class="col md-12">
            <h2>Alışveriş Sepeti</h2>
            <hr />
            @if (Model.CartLines.Count > 0)
            {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Adet </th>
                            <th>Ürün Adı</th>
                            <th>Fiyat</th>
                            <th>Toplam Ücret</th>
                            <th></th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model.CartLines)
                        {
                            <tr>
                                <td>
                                    <img src="~/uruntasarım/img/@item.Urun.Fotograf" width="50" />
                                </td>
                                <td>
                                    @item.Adet
                                </td>
                                <td>@item.Urun.Ad</td>
                                <td>
                                    @item.Urun.Fiyat
                                </td>
                                <td>
                                    @((item.Urun.Fiyat * item.Adet).ToString("c"))
                                </td>
                                <td>
                                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                                    {
                                        @Html.Hidden("Id", item.Urun.Id)
                                        <button type="submit" class="btn btn-danger">
                                            <i class="fa fa-trast-o" aria-hidden="true"></i>
                                            Sil
                                        </button>
                                    }
                                </td>

                            </tr>
                        }


                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5"></td>
                            <td>
                                @Model.TotalUcret().ToString("c")
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="text-center">
                    <a href="/Home/List" class="btn btn-primary">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                        Alışverişe Devam Et
                    </a>
                    <a href="/Cart/Checkout" class="btn btn-primary" >
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Siparişi Tamamla
                    </a>
                </div>
                
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    Sepette ürün bulunmuyor!
                </div>
            }
        </div>
    </div>
</div>

